{% extends '_base.html' %}

{% load book_tags %}


{% block page_title %}Book Detail {{ book.title }}{% endblock %}


{% block content %}

    <h1>{{ book.title|capfirst }}</h1>
    <p>{{ book.description|linebreaks}}</p>
    <p>{{ book.author }}</p>
    <h4>{{ book.price }}</h4>
    <h5 class="small my-1"><a href="{% url 'book_update' book.id %}">ویرایش</a> </h5>
    <h5 class="small my-1"><a href="{% url 'book_delete' book.id %}">حذف</a> </h5>

    <br>
    <a href="{% url 'book_list' %}">books list</a>
{% endblock %}